* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.scrollmenu {
  display: block;
  overflow: auto;
  white-space: nowrap;
}

.buttonStart {
  display: flex;
  justify-content: center;
}

.button1 {
  align-items: center;
  background-color: var(--backgroundColor);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}

.divDrinks {
  background-color: #333;
  display: inline-block;
  height: 180px;
  margin-bottom: 15%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 180px;
}

.horizontal-scroll-wrapper {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100px;
}

img {
  height: 80px;
  width: 80px;
}

p, h5 {
  border: 1px solid red;
  font-size: medium;
  text-align: center;
}

h6 {
  font-size: large;
  text-align: center;
}

.hidden {
  display: hidden;
}
