.detailsPage {
  align-items: center;
  background-color: var(--backgroundColor);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.divTitleButtons {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 360px;
}

.titleName {
  font-size: 20px;
  text-align: center;
  width: 180px;
}

.divButtons {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.category {
  color: var(--secondaryTXTColor);
  width: 300px;
}

.divIngredients {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.divCardIngred {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.ingredients {
  color: var(--secondaryTXTColor);
  margin-top: 15px;
}

.divInstructions {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
}

.divInstructionsRecipe {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
  margin-bottom: 40px;
}

.instructions {
  color: var(--secondaryTXTColor);
  margin: 20px;
}

.divVideo {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.divRecommended {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.divDrinksRecom {
  background-color: var(--secondaryBGColor);
  display: inline-block;
  margin: 5px;
  text-align: center;
  width: 170px;
}

.horizontal-scroll-wrapper {
  height: 220px;
  margin-bottom: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
  width: 360px;
}

.horizontal-scroll-wrapper-food {
  height: 250px;
  margin-bottom: 60px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  white-space: nowrap;
  width: 360px;
}

.imgRecommended {
  height: 120px;
  width: 100%;
}

.categRecommended {
  color: var(--secondaryTXTColor);
  margin-top: 5px;
}

.image {
  height: 320px;
  margin: 10px;
  width: 320px;
}

.buttonRecipe {
  align-items: center;
  background-color: var(--buttonColor);
  bottom: 0;
  color: var(--textColor);
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}

.divDrinks {
  background-color: #333;
  display: inline-block;
  height: 180px;
  margin-bottom: 15%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 180px;
}


.buttonFav {
  background-color: var(--buttonColor);
  margin: 2px;
  padding: 5px;
}
