.mainExplore {
  align-items: center;
  background-color: var(--backgroundColor);
  display: flex;
  flex-flow: column wrap;
  height: 500px;
  justify-content: center;
  width: 360px;
}

.mainBy {
  align-items: center;
  background-color: var(--backgroundColor);
  display: flex;
  flex-flow: column wrap;
  height: 500px;
  justify-content: center;
}

.ingredientsDiv {
  display: flex;
  flex-flow: row wrap;
  margin-top: 12%;
  padding-bottom: 80px;
}

.mainNational {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-bottom: 80px;
}

.selectNational {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 40px;
  width: 100px;
}

.divNational {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
