.divBtnFav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 7px;
}

.btnFav {
  background-color: var(--buttonColor);
  color: var(--textColor);
  font-weight: 600;
  margin: 5px;
  padding: 10px;
  width: 90px;
}

.divFav {
  align-items: center;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.divFavCard {
  align-items: center;
  background-color: var(--textColor);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5px;
  width: 170px;
}

.inputFav {
  width: 170px;
}

.divFavCardRecipe {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 170px;
}

.divText {
  text-align: center;
  width: 50%;
}

.divBtnFavs {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.btnInputFavs {
  margin: 5px;
}
