.divHeader {
  background-color: var(--secondaryBGColor);
  display: flex;
  flex-flow: column nowrap;
}

.header {
  align-items: center;
  background-color: var(--secondaryBGColor);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  left: 0;
  margin-top: 10px;
  position: fixed;
  top: 0;
  width: 360px;
}

.imgIcon {
  border-radius: 50%;
  height: 40px;
  margin-top: 3px;
  width: 40px;
}

.buttonIcon {
  border-radius: 50%;
  height: 55px;
  margin: 0 auto;
  width: 55px;
}

.titlePage {
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

.searchBar {
  margin-top: 80px;
}
