.buttonIngredient {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
}

.imgIngredient {
  height: 80%;
  margin: 5px;
}

.nameIngredient {
  font-weight: 600;
  height: 15%;
  margin: 5px;
}
