footer {
  align-items: center;
  background-color: var(--secondaryBGColor);
  bottom: 0;
  display: flex;
  height: 10%;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 360px;
}

.footerIcon {
  background-color: var(--textColor);
  border: 2px solid black;
  border-radius: 50%;
  height: 55px;
  padding: 6px;
  width: 55px;
}
