:root {

  --backgroundColor: #1d3557;

  --textColor: #f1faee;

  --buttonColor: #e63946;

  --secondaryTXTColor: #a8dadc;

  --secondaryBGColor: #457b9d;
}

body {
  box-sizing: border-box;
  color: var(--textColor);
  font-family: Arial , Helvetica , sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

